body {
  font-family: "ABCRepro-Medium", Helvetica, Arial, sans-serif;
}

.main {
  padding: 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.list__item {
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.list__item__header {
  display: flex;
  gap: 5px;
  align-items: baseline;
  cursor: pointer;
}


.list__item__header:hover {
opacity: 0.6;
color: rgb(50, 112, 75);
}

.list__item__artist {
  font-size: 10px;
  white-space: nowrap;
}

.list__item__body {
  display: none;
  
}

.on{
  font-size: 10px;
  background-color: white;
  max-width: 49vw;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.list__item__body.show {
  display: block;
}